@import '../../assets/stylesheets/index.scss';

.Home {
    &_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #393FD0;
        height: 100vh;
        // background-image: url('../../assets/images/screen.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-family: $ff-Dosis-ExtraLight;
        color: $neutral-000;

        @media (max-width: 800px) {
            // background-image: url('../../assets/images/screen_mobile.png');
        }
    }
    &_Tabs{
        border-radius: 0 0 6px 6px;
        border-bottom: none;
    }
    &_tabLogin{
        padding: 39.5px;
        background: #3A3061;
        opacity: 0.9;
        border-radius: 0 0 6px 6px;
        box-shadow: $shadow-l;
    }
    &_tabRegister{
        padding: 27px;
        background: #3A3061;
        opacity: 0.9;
        border-radius: 0 0 6px 6px;
        width: 438.4px;
        box-shadow: $shadow-l;
    }
    &_back{
        cursor: pointer;
        font-weight: bolder;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-left: 125px;
    }
    &_back:hover{
        color: #2FCEC5;
    }
}

.nav{
    &-link.active{ 
        background-color: #3A3061 !important;
        border-color: transparent !important;
        opacity: 0.9;
    }
}

.nav{
    &-link {
        color: $neutral-000 !important;
        margin-bottom: 0 !important;
        background: #3A3061 !important;
        opacity: 0.35;
        width: 219.4px;
        font-size: 18px;
    }
}