@import '../../assets/stylesheets/index.scss';

.Login {
    &_btnIn{
        background: linear-gradient(90deg, #8DE7ED 2.31%, #2FCEC5 100%);
        border-radius: $spacing-l;
        width: 100%;
        margin-bottom: 10px;
    }
    &_btnIn:hover{
        color: #2FCEC5;
        background: $neutral-000;
    }
    &_btnIn.disabled{
        cursor: pointer !important;
    }
    &_notRegister{
        color: #f5eb69;
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 96px;
    }
    &_invalidEmail {
        color: #2FC0BA;
        font-weight: bolder;
        margin-bottom: 10px;
        margin-left: 273px;
    }
}

.form {
    &-check {
        margin-left: 80px;
        &-label {
            font-weight: bold;
            margin-top: 0;
        }
    }
}

.form {
    &-check {
        &-input {
            cursor: pointer;
        }
    }
}

a {
    color: $neutral-000;
    font-family: $ff-Dosis-ExtraLight !important;
    font-weight: bold !important;
    margin-left: 125px;
}

a:hover {
    color: #2FCEC5;
}

.form {
    &-control{
        color: rgba(255, 255, 255, 0.5)!important;
        background-color: #3A3061;
        border: 0;
        border-bottom: 1px solid #ffffff;
    }
}

.btn:disabled{
    pointer-events: auto;
    cursor: not-allowed;
}

input[type='email']:focus, input[type='password']:focus {
    background-color:#3A3061;
}
